*{
  margin:0px;
  padding: 0px;
  /* background-color:rgb(0, 0, 0); */
  /* border:solid 1px black ; */
  text-align: center;
}
body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  /* border:solid 2px black ; */
}
header{
  text-align: center;
  padding: 20px;
  background-color: darkblue;
  
}
h1{
  color: red;
  text-shadow: 2px 2px black;
}
h2{
  padding: 30px;
}
.sub-head{
  padding: 80px;
}
.file-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cameraButton ,#submitBtn{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cameraButton:hover {
  background-color: #0056b3;
}
canvas{
  padding: 10px;
  border: 1px solid black;
  height: 300px;
}
